@page "/{clientId}/Meta/"
@using RimSpectorApi.Contracts;
@model RimSpectorApi.Pages.MetaModel
@{
    ViewData["Title"] = "Metadata";
}

@await Html.PartialAsync("_Nav", Model.ClientId)
<div class="text-center">
    <div class="sideNav"> 
        <ul>         

        </ul>
    </div>
    <div class="content">
        <div>
            @Model.World?.Seed
        </div>
         <div>
            @Model.Storyteller?.Name
        </div>
         <div>
            @foreach (var map in Model.Maps)
            {
                <div>@map.Name</div>
                <div>@map.Coordinates</div>
            }
        </div>
         <div>
             @foreach (var mod in Model.Mods)
            {
                <div>@mod.Name</div>
            }
        </div>
    </div>
</div>
