@page "/{clientId}/{Pawns?}/{pawnId?}"
@using RimSpectorApi.Contracts;
@model RimSpectorApi.Pages.PawnsModel
@{
    ViewData["Title"] = "Pawns";
}

@await Html.PartialAsync("_Nav", Model.ClientId)
<div class="text-center">
    <div class="sideNav"> 
        <ul> <!--Pawn Navigation-->
            @foreach (var pawn in Model.GetPawns())
            {
                <li class="@(Model.SelectedPawnId == pawn.Id? "selected":"")" href="/@Model.ClientId/Pawns/@pawn.Id">

                    <a href="/@Model.ClientId/Pawns/@pawn.Id">@pawn.Name</a>

                </li>
            }

        </ul>
    </div>
    <div class="content"> <!--Pawn Content-->
        @if (!string.IsNullOrEmpty(Model.SelectedPawnId))
        {
            <!--Basics-->
            <a>@Model.SelectedPawn.Title</a><h1>@Model.SelectedPawn.FullName</h1>             
            <div class="backstoryList">
            @foreach (var backstory in @Model.SelectedPawn.Backstories)
            {
                <a title="@backstory.Desc">@backstory.Name</a>
            }
            </div>
            <a>@Model.SelectedPawn.Gender, age @Model.SelectedPawn.Age?.AgeBiologicalYears (@Model.SelectedPawn.Age?.AgeChronologicalYears)</a>

            <div>@Model.RoleLabel of <a href="@Model.IdeoUrl">@Model.IdeoName</a></div>
            <hr />

            <div><!--skills-->     
                <h2>Skills</h2>
                <div class="skillCol">
                    <h3>Incapable of</h3>
                    @if (!Model.DisabledSkills.Any())
                    {
                        <a>None</a>
                    }
                    <div class="incapables">
                    @foreach (var disabledSkill in Model.SelectedPawn.Incapabilities)
                    {
                        <div>@disabledSkill.Name</div>                            
                    }
                    </div>

                    <h3>Traits</h3>
                    <div class="traits">
                    @foreach (var trait in Model.SelectedPawn.Traits)
                    {
                        <div title="@trait.Desc">@trait.Name</div>                            
                    }
                    </div>

                    <h3>Abilities</h3>                    
                    <div class="psycasts">
                    @foreach (var psycast in Model.SelectedPawn.Psycasts)
                    {
                        <div title="@psycast.Desc">@psycast.Name</div>      
                    }
                    </div>

                </div>
                <div class="skillCol">
                    @foreach (var skill in Model.SelectedPawn.Skills)
                    {
                    <div class="skill">
                        <div class="skillLabel">
                            <div class="name">@skill.Name</div> 
                        @switch (skill.Passion)
                        {
                            case Passion.Minor:
                                        <div class="passion">🔥</div>
                                break;
                            case Passion.Major:
                                        <div class="passion">🔥🔥</div>
                                break;
                        } 
                        </div>
                        <div class="skillLevel" style="@Model.SkillBackgroundFill(skill)">@Model.SkillValueText(skill)</div> 
                    </div>  
                    }        
                </div>                  
            </div>
            <hr />

            <div> <!--Equipment-->
                <h2>Equipment</h2>

            @foreach (var equip in Model.SelectedPawn.Equipment)
            {
                <div>@equip.Name</div>    
            }
            </div>
            <div> <!--Apparel-->
                <h2>Apparel</h2>

            @foreach (var apparel in Model.SelectedPawn.Apparel)
            {
                <div>@apparel.Name</div>    
            }
            </div>

            <hr />
            <div> <!--Health-->
                <h2>Health</h2>
                <div class="health"> 
                @foreach (var healthGroup in Model.GroupedHealth)
                {
                    <div class="healthPartGroup"> 
                        <div class="healthCol"> 
                            @healthGroup.Key
                        </div>
                        <div class="healthCol"> 
                        @foreach (var item in healthGroup)
                        {
                            <a>@item</a>    
                        }
                        </div>                          
                    </div>
                }                        
                </div>
            </div>

        }
    </div>
</div>
